:root {
    --main-color: #dc143c;
    --dark-color: #111111;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 5000px;
    font-family: "Ubuntu", sans-serif;
}

.container {
    margin: 0 auto;
    height: 100%;
    /* height: fit-content; */
}

.hide {
    display: none;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 820px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 700px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container {
        width: 440px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .container {
        width: 320px;
    }
}

/* ////////////////////////////////////// */

/* start navbar */

.navbar {
    /* background-color: rgb(220, 20, 60, 10); */
    width: 100%;
    height: 60px;
    transition: 0.3s ease-in-out all;
    position: fixed;
    z-index: 10;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar .container .logo {
    height: 100%;
    /* text-align: center; */
}

.navbar .container .logo a {
    position: relative;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

/* .navbar .container .logo a span
{
    color: var(--main-color);
} */

.navbar .container .navit {
    height: 100%;
}

.navbar .container .navit ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 0;
    justify-content: space-between;
}

.navbar .container .navit ul li {
    margin-left: 15px;
    color: white;
}

.navbar .container .navit ul li a {
    text-decoration: none;
    /* color: white; */
    font-weight: bolder;
    font-size: 20px;
}

.navbar .container .navit ul li a:hover {
    color: var(--main-color);
}

.navbar .container .burger i {
    /* position: relative; */
    z-index: 10000;
    font-size: 27px;
    margin-top: calc(70%);
    cursor: pointer;
    color: white;
}

.navbar .container .burger {
    display: block;
}

@media (max-width: 750px) {
    .navit {
        display: none;
    }
}

@media (min-width: 751px) {
    .navbar .container .burger {
        display: none;
    }
}

/* menu overlay */

.menu-overlay {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    margin: 0%;
    padding: 0;
    top: 0;
    left: -100%;
    transition: all 0.3s ease-in-out;
}

.show-overlay {
    left: 0;
}

.menu-overlay ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.menu-overlay ul li {
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu-overlay ul li a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.menu-overlay ul li a:hover {
    color: var(--main-color);
    transform: translate(0, -5px);
    font-size: 34px;
}

.menu-overlay i {
    font-size: 27px;
    cursor: pointer;
    color: white;
    text-align: right;
    margin-right: 30px;
}

/* end navbar */

/* start slider */

.slider {
    width: 100%;
    height: calc(100vh);
    background: url(.././img/wallpaperflare.com_wallpaper.jpg) no-repeat left;
    background-size: center;
    background-attachment: fixed;
    color: white;
    position: relative;
    z-index: 0;
}

.slider .bio {
    position: absolute;
    top: 30%;
}

.slider .bio .text-1 {
    font-size: 30px;
    font-weight: bold;
}

.slider .bio .text-2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
}

.slider .bio .text-3 {
    font-size: 40px;
    font-weight: 500;
}

#typeing-fx {
    color: var(--main-color);
    font-weight: 700;
    display: block;
    height: 45px;
}

.slider .hire-me a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    color: white;
    background-color: var(--main-color);
    padding: 17px 35px;
    border-radius: 10px;
}

/* end slider */

/* start about me */

.about {
    text-align: center;
    padding-top: 50px;
}

/* .container {}

.txt-1 {} */

.txt-1 h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.txt-1 p {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    color: var(--main-color);
    background-color: white;
    padding: 0 5px 0 5px;
}

.txt-1 p::before {
    content: "";
    width: 150%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 55%;
    right: -25%;
    z-index: -1;
}

/* .txt-1 p::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 53%;
    right: -80%;
} */

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.description .img {
    width: 100%;
}

.description .img img {
    width: 100%;
}

.description .txt-des {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    padding-left: 10%;
    font-size: 25px;
}

.description .txt-des .name-des {
    /* width: fit-content; */

    font-weight: bold;
    margin-bottom: 0;
}

.description .txt-des p span {
    font-weight: bolder;
    color: var(--main-color);
}

.description .txt-des .bio {
    /* width: fit-content; */
    /* font-size: 20px; */
    font-weight: 100;
    line-height: 1.3;
}

.description .txt-des a {
    display: block;
    background-color: var(--main-color);
    width: fit-content;
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
}

@media (max-width: 720px) {
    .description {
        flex-direction: column;
        justify-content: center;
    }

    .description .img img {
        width: 20%;
    }

    .description .txt-des {
        text-align: center;
        align-items: center;
        padding: 0;
    }

    /* .description .txt-des .name-des {
        font-size: 25px;

    } */
}

/* end about me */

/* start services */

.services {
    margin-top: 50px;
    padding: 90px 0 90px 0;
    background-color: black;
    text-align: center;
    position: relative;
    z-index: 0;
}

.services .txt-1 {
    margin-bottom: 15px;
}

.services .txt-1 p {
    background-color: black;
}

.services h2 {
    color: white;
}

.services p::before {
    background-color: white;
}

.services .boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services .boxes .box {
    width: calc(1100px / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #222;
    color: white;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.services .boxes .box:hover {
    background-color: var(--main-color);
}

.services .boxes .box i {
    font-size: 42px;
    margin-top: 10px;
    color: var(--main-color);
}

.services .boxes .box .skill {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    /* color: #444; */
}

.services .boxes .box:hover i {
    color: white;
}

.services .boxes .box .des {
    font-size: 18px;
    line-height: 1.3;
    color: #ccc;
}

@media (min-width: 1201px) {
    .services .boxes .box:not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 1200px) {
    .services .boxes {
        flex-direction: column;
        align-items: center;
    }

    .services .boxes .box {
        width: 80%;
        margin: 15px 0 15px 0;
    }
}

/* end services */

/* start skills */

.skills {
    padding-top: 50px;
}

.skills .txt-1 {
    text-align: center;
}

/* end skills */

/* start skills */

.skill-section
{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
.skill-section .des
{
    width: 50%;
}
.skill-section .des h2
{

}
.skill-section .des p
{
    color: #444;
    line-height: 1.4;
}

.skill-section .skills-bars
{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skill-section .skills-bars .bar
{
    width: 80%;
    height: 20px;
    background-color: #eee;
    /* overflow: hidden; */
    margin-bottom: 40px;
    padding: 0;
    position: relative;
}
.skill-section .skills-bars .bar> span::before
{
    content: "";
    top: 0;
    left:0;
    height: 100%;
    width: 50%;
    background-color: var(--main-color);
    display: block;
}

.skill-section .skills-bars .bar > span
{

    display: block;
    height: 100%;
    width: 50%;
    background-color: var(--main-color);
}


.skill-section .skills-bars .bar .info
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 100%;
    left: 0;
}
.skill-section .skills-bars .bar .info span
{
    display: block;
}


@media(max-width: 900px)
{
    .skill-section {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
    }
    .skill-section .des {
        width: 90%;
        text-align: center;
        padding-bottom: 50px
    }
    .skill-section .skills-bars
    {
        width: 90%;
    }
}
/* end skills */






/* ////////////////////////////////////////////////// */





a {
    color: white;
}

.active {
    color: var(--main-color);
}